.form {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form>*{
    height: 30px;
    width: auto;
    border-radius: 5px;
}